<div id="overlay"></div>
<div id="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-image">
            <img alt="profile" height="50" width="50">
            <p id="profil_nama" class="nama">Indra Mahkota</p>
            <p id="profil_email" class="email">indramahkota1@gmail.com</p>
        </div>
    </div>
    <div class="menusatu">
        <a id="target1" class="aktif">
            <img alt="home" height="20" width="20">
            Movie Finder
        </a>
        <a id="target2">
            <img alt="settings" height="20" width="20">
            Pengaturan
        </a>
        <a id="target3">
            <img alt="info" height="20" width="20">
            Tentang
        </a>
    </div>
    <div id="target4" class="menudua">
        <a class="aktif">
            <img alt="logout" height="20" width="20">
            Keluar
        </a>
    </div>
</div>